{% extends 'base.html' %}
{% load vite %}

{% block main %}
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}

{% block extra_style %}
{% vite_styles 'polls/static/src/main.js' %}
{% endblock %}

{% block bottom_scripts %}
{% vite_scripts 'polls/static/src/main.js' %}
{% endblock %}